@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap");

@import "tailwindcss";

@theme {
  --font-story: Story Script, "cursive";
  --font-roboto: Roboto, "sans-serif";

  --color-primary: #b1e5f2; /* azul */
  --color-secondary: #272635; /* vermelho */
  --color-muted: #6b7280; /* cinza */
  --color-background: #fff;
  --color-text: #000;
}

body {
  font-family: var(--font-roboto);
  background-color: var(--color-background);
  color: var(--color-text);
}
